.about-container p {
    color: rgb(99, 98, 98);
    padding: 2rem 8rem;
}

.about-container hr {
    margin-bottom: 3rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(32, 31, 31);
    color: white;
    padding: 2rem 0;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px gray;
}

.footerIcons a {
    color: rgb(42, 41, 41);
    font-size: 1.3rem;
    margin-right: 1rem;
}