.jobContainer {
    background-color: rgb(248, 245, 245);
    margin: 4rem 0;
    padding: 5rem 0;
}

.jobContainer h1 {
    color: #555454;
}

.jobContainer p {
    margin-bottom: 4rem;
    margin-top: 0.5rem;
    color: rgb(50, 160, 160);
}

.jobList {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jobList .jobs {
    margin: 2rem 2rem;
    background-color: white;
    width: 20rem;
    height: 22rem;
    padding: 3rem;
    margin-bottom: 2px;
    box-shadow: 0px 0px 10px rgb(201, 200, 200);
    border-radius: 5px;
}

.jobs .subtitle {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: #555454;
}

.skills {
    margin-top: 1rem;
    color: gray;
}

.detailBtn {
    border: none;
    background-color: rgb(94, 187, 187);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.detailBtn:hover {
    background-color: gray;
}